{% extends 'base_storages_page.html' %}


{% block title %}Необработанные заказы{% endblock %}

{% block content %}
  <center>
    <h2>Необработанные заказы</h2>
  </center>

  <hr/>
  <br/>
  <br/>
  <div class="container">
   <table class="table table-responsive">
    <tr>
      <th>ID заказа</th>
      <th>Статус</th>
      <th>Клиент</th>
      <th>Адрес доставки</th>
      <th>Стоимость</th>
      <!-- <th>Ссылка на админку</th> -->
    </tr>

    {% for item in order_items %}
      <tr>
        <td>{{ item.id }}</td>
        <td>{{ item.get_status_display }}</td>
        <td>{{ item.renter }}</td>
        <td>{{ item.address }}</td>
        <td>{{ item.cost }}</td>
      </tr>
    {% endfor %}
   </table>
  </div>
{% endblock %}